.DS_Store
/node_modules
/dist
/coverage

/**/.svelte-kit
/**/build

# Ignore files for Bun, PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb

.gitignore
.eslintignore
.prettierignore
LICENSE
*.css
*.svg
*.json
*.png

.eslintrc.cjs
.eslintignore
