# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Prettier
.prettierignore
.gitignore

# Build
dist

# Testing
.nyc_output
coverage

# ESLint
.eslintcache

# Turborepo
.turbo

# misc
.DS_Store

# Logs
*.log
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Webstorm
.idea

# pnpm
pnpm-lock.yaml

# bun
bun.lockb
